In [1]:
import pandas as pd
import os
from pandas import set_option
set_option("display.max_rows", 15)

# Setting TXT File data location (设定TXT文件位置)

In [2]:
# data_path = 'data/NewDataUnProcess/data0417/train/'
data_path = 'data/NewDataUnProcess/'
filename = 'YX58-DTXX.txt'
# filename = 'BZ102.txt'
txt_logs_file = os.path.join(data_path,filename)

In [ ]:
log_data_begin_row = 0
a_L = filename.split(".")[0][-2:]
if a_L == '录井':
    log_data_begin_row = 0
    print("1")
elif a_L == '常规':
    log_data_begin_row = 6
    print("2")
else:
    print("3")
    log_data_begin_row = 5

# Loading data with pandas (读取数据)

In [6]:
# un_process = pd.read_csv(txt_logs_file,engine='python',encoding='GBK',header = None, sep = '\000\r\t\n\tab ')
# default log_data_begin_row = 6
un_process = pd.read_csv(txt_logs_file,engine='python',encoding='GBK',header = log_data_begin_row, sep = '\t\000')

In [7]:
usual_log_names = ["DT","CNL","DEN","GR","RD","RS","DTXX"]
# usual_log_names = ["DTC_CIFLOG","DTS_CIFLOG"]

In [8]:
un_process.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3518 entries, 0 to 3517
Data columns (total 1 columns):
#DEPTH       DTC_CIFLOG   DTS_CIFLOG    3518 non-null object
dtypes: object(1)
memory usage: 27.6+ KB

In [9]:
# a = un_process.iloc[7].strip('\t').tolist()
un_process

       #DEPTH       DTC_CIFLOG   DTS_CIFLOG
0     5563.8877    -99999.0000  -99999.0000
1     5564.0401    -99999.0000  -99999.0000
2     5564.1925    -99999.0000  -99999.0000
3     5564.3449    -99999.0000  -99999.0000
4     5564.4973    -99999.0000  -99999.0000
5     5564.6497    -99999.0000  -99999.0000
6     5564.8021    -99999.0000  -99999.0000
...                                     ...
3511  6098.9641    -99999.0000  -99999.0000
3512  6099.1165    -99999.0000  -99999.0000
3513  6099.2689    -99999.0000  -99999.0000
3514  6099.4213    -99999.0000  -99999.0000
3515  6099.5737    -99999.0000  -99999.0000
3516  6099.7261    -99999.0000  -99999.0000
3517  6099.8785    -99999.0000  -99999.0000

[3518 rows x 1 columns]

In [10]:
# default False | True,根据给定的数据分布，一般i情况下不减少原始分辨率
use_custom_resolution = False

In [11]:
traget_log_names = usual_log_names

In [12]:
if use_custom_resolution:
    custom_resolution = 0.5
else:
    custom_resolution = 1

# Remove missing value columns at the end (去除末尾缺失值列)

In [13]:
process = un_process.dropna(axis=1)

In [14]:
process

       #DEPTH       DTC_CIFLOG   DTS_CIFLOG
0     5563.8877    -99999.0000  -99999.0000
1     5564.0401    -99999.0000  -99999.0000
2     5564.1925    -99999.0000  -99999.0000
3     5564.3449    -99999.0000  -99999.0000
4     5564.4973    -99999.0000  -99999.0000
5     5564.6497    -99999.0000  -99999.0000
6     5564.8021    -99999.0000  -99999.0000
...                                     ...
3511  6098.9641    -99999.0000  -99999.0000
3512  6099.1165    -99999.0000  -99999.0000
3513  6099.2689    -99999.0000  -99999.0000
3514  6099.4213    -99999.0000  -99999.0000
3515  6099.5737    -99999.0000  -99999.0000
3516  6099.7261    -99999.0000  -99999.0000
3517  6099.8785    -99999.0000  -99999.0000

[3518 rows x 1 columns]

# Remake column names (重新制作列名称)

In [15]:
process_cols = process.columns.tolist()

In [16]:
process_cols

['#DEPTH       DTC_CIFLOG   DTS_CIFLOG']

In [17]:
# 设定曲线同义词
synonyms_names = {'CNC':'CNL','TNPH':'CNL','NPHI':'CNL', 
                  'KTH_P':'GR', 'HSGR':'GR',
                  'RHOB':'DEN','RHO1':'DEN','ZDEN':'DEN','RHOZ':'DEN',
                  #'DT':'AC',
                 'DTC':'DT',
                 'RT':'RD','AT90':'RD','RLA5':'RD','LLD':'RD',
                 'RXO':'RS','RLA2':'RS','AT20':'RS','LLS':'RS'}

In [18]:
syn_names = list(synonyms_names.keys())

['#DEPTH       DTC_CIFLOG   DTS_CIFLOG']

In [20]:
# 把第一个字母转化为大写字母，其余小写
cols = []
if len(process_cols) == 1:
    print(str(process_cols[0]).split())
    print(1)
    a_list = str(process_cols[0]).split()
    for i in range(1,len(a_list)):
        a = a_list[i].replace(" ", "")
        cols.append(a)
    # print(type(a))
else:
    for i in range(1,len(process_cols)):
        a = process_cols[i].split(" ")[0]
        cols.append(a)

# 普通测井曲线时候，要注意同义词的替换
for i in range(len(cols)):
    if cols[i] in syn_names:
        cols[i] = synonyms_names[cols[i]]

print(cols)

['#DEPTH', 'DTC_CIFLOG', 'DTS_CIFLOG']
1
['DTC_CIFLOG', 'DTS_CIFLOG']

# Determine if the new column name on the curve matches the data model target

In [ ]:
判断曲线新列名是否与目标一致

In [21]:
traget_log_names

['DTC_CIFLOG', 'DTS_CIFLOG']

In [22]:
if set(traget_log_names).issubset(set(cols)):
    print("corresponding!!!")
else:
    print("logs columns is incompatible!!!")
    missing_logs = [i for i in traget_log_names if (i not in cols)]
    print('missing_logs:',missing_logs)
#     exit()

corresponding!!!

# Replace the original column name with a new column name(新列名替代原来的列名)

In [23]:
type(process[process_cols]),str(process_cols[0]),process_cols

(pandas.core.frame.DataFrame,
 '#DEPTH       DTC_CIFLOG   DTS_CIFLOG',
 ['#DEPTH       DTC_CIFLOG   DTS_CIFLOG'])

# Data splitting(数据分列)

In [24]:
if len(process_cols) == 1:
    process_new = process[str(process_cols[0])].str.split(expand = True)
else:
    process_new = process.copy()

In [25]:
process_new.columns

RangeIndex(start=0, stop=3, step=1)

In [26]:
cols.insert(0,"DEPTH")
process_new.columns = cols

In [27]:
process_new

          DEPTH   DTC_CIFLOG   DTS_CIFLOG
0     5563.8877  -99999.0000  -99999.0000
1     5564.0401  -99999.0000  -99999.0000
2     5564.1925  -99999.0000  -99999.0000
3     5564.3449  -99999.0000  -99999.0000
4     5564.4973  -99999.0000  -99999.0000
5     5564.6497  -99999.0000  -99999.0000
6     5564.8021  -99999.0000  -99999.0000
...         ...          ...          ...
3511  6098.9641  -99999.0000  -99999.0000
3512  6099.1165  -99999.0000  -99999.0000
3513  6099.2689  -99999.0000  -99999.0000
3514  6099.4213  -99999.0000  -99999.0000
3515  6099.5737  -99999.0000  -99999.0000
3516  6099.7261  -99999.0000  -99999.0000
3517  6099.8785  -99999.0000  -99999.0000

[3518 rows x 3 columns]

In [28]:
new_columns = traget_log_names

In [29]:
new_columns

['DTC_CIFLOG', 'DTS_CIFLOG']

In [30]:
# C_element.to_csv(data_path + csvfile_name + '_new_'+  '.csv',mode='w',index = False,header=True)
new_columns.insert(0,"DEPTH")
new_columns

['DEPTH', 'DTC_CIFLOG', 'DTS_CIFLOG']

In [31]:
log_data = process_new.loc[:,new_columns]

In [32]:
log_data

          DEPTH   DTC_CIFLOG   DTS_CIFLOG
0     5563.8877  -99999.0000  -99999.0000
1     5564.0401  -99999.0000  -99999.0000
2     5564.1925  -99999.0000  -99999.0000
3     5564.3449  -99999.0000  -99999.0000
4     5564.4973  -99999.0000  -99999.0000
5     5564.6497  -99999.0000  -99999.0000
6     5564.8021  -99999.0000  -99999.0000
...         ...          ...          ...
3511  6098.9641  -99999.0000  -99999.0000
3512  6099.1165  -99999.0000  -99999.0000
3513  6099.2689  -99999.0000  -99999.0000
3514  6099.4213  -99999.0000  -99999.0000
3515  6099.5737  -99999.0000  -99999.0000
3516  6099.7261  -99999.0000  -99999.0000
3517  6099.8785  -99999.0000  -99999.0000

[3518 rows x 3 columns]

# Obtain logging log attribute information (获取测井日志属性信息)

In [33]:
if  a_L == '录井':
    well_name = filename.split("录井")[0]
    orgin_resolution = custom_resolution
else:
    well_log_info = pd.read_csv(txt_logs_file,engine='python',encoding='GBK',header = None, 
                                sep = '\t', nrows = 7)
    well_name = well_log_info.iloc[0].to_string().split()[-1]
    orgin_resolution = well_log_info.iloc[3].to_string().split()[-1]

In [34]:
# well_name

In [35]:
save_data_path =  'data/usual_logs/'

In [36]:
log_data.to_csv(save_data_path + well_name + '_R_' + str(orgin_resolution) + 'm.csv',mode='w',index = False,header=True)

In [37]:
print("Finished!!")

Finished!!

In [ ]:
print(save_data_path + well_name + '_R_' + str(orgin_resolution) + 'm.csv')