In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import os

from pandas import set_option
set_option("display.max_rows",10)
set_option('display.width', 200)

In [2]:
element_names = ["DTXX"]

In [3]:
# 定义要输入的维度AC、CNL、DEN、GR、RD、RS
# input_vectors = ["AC","CNL","DEN","GR","RD","RS"]
input_vectors = ["DT","CNL","DEN","GR","RD","RS"]

In [4]:
train_data_path = '../data/exp_curve_reconstract/exp_1/train/QSK/'
filename_AB = 'GY1_R_0.1250m_QSK_2107m-2587m.csv'
train_file_path = os.path.join(train_data_path,filename_AB)

In [12]:
# 待预测段的常规测井曲线
test_data_path = '../data/exp_curve_reconstract/exp_1/test/QSK/'
filename_A = 'C21_R_ 0.1250m_QSK_1260m-1668m.csv'
test_file_path = os.path.join(test_data_path,filename_A)

# View training set range(查看训练集范围)

In [6]:
# 读取A、B部分共有数据
AB = pd.read_csv(train_file_path,engine='python',encoding='GBK')
AB

         DEPTH         DT   CNL    DEN   GR    RD    RS        DTXX
0     2107.000  82.196225  17.3  2.451  120  4.91  5.11  168.247598
1     2107.125  81.984576  16.9  2.444  118  5.18  5.37  166.368776
2     2107.250  81.677681  16.3  2.437  116  5.40  5.60  165.172409
3     2107.375  81.509332  15.8  2.435  114  5.55  5.76  164.581235
4     2107.500  81.742845  15.7  2.448  116  5.57  5.82  164.762338
...        ...        ...   ...    ...  ...   ...   ...         ...
3836  2586.500  86.894184  15.4  2.652  138  5.31  6.30  169.218485
3837  2586.625  85.568864  14.9  2.651  136  5.35  6.32  162.964982
3838  2586.750  81.355412  14.0  2.646  135  5.59  6.52  156.272841
3839  2586.875  76.638988  12.5  2.645  127  6.50  7.39  149.232910
3840  2587.000  72.828514  10.4  2.650  114  8.64  9.39  142.077324

[3841 rows x 8 columns]

In [7]:
X = AB.loc[:,input_vectors]
Y = AB.loc[:, element_names]

In [8]:
minX = np.min(X)
maxX = np.max(X)
minY = np.min(Y)
maxY = np.max(Y)

In [9]:
minX,maxX

(1.966, 157.0)

In [10]:
minY,maxY

(131.7215944, 225.2525799)

# View test set scope(查看测试集范围)

In [13]:
AB_new = pd.read_csv(test_file_path,engine='python',encoding='GBK')

In [14]:
AB_new

         DEPTH          DT     CNL    DEN       GR     RD     RS        DTXX
0     1260.000   97.479675  32.616  2.281  117.390  2.895  2.927  200.676273
1     1260.125   96.227397  33.075  2.219  116.198  2.959  3.003  203.242241
2     1260.250   98.291990  33.748  2.184  118.071  2.933  2.987  207.089322
3     1260.375  102.595468  33.746  2.180  121.909  2.816  2.885  211.811087
4     1260.500  106.571764  32.860  2.195  125.995  2.651  2.733  216.707987
...        ...         ...     ...    ...      ...    ...    ...         ...
3180  1667.500  101.874630  28.255  2.306  137.251  4.409  4.762  224.517770
3181  1667.625  103.317856  29.102  2.287  138.654  4.360  4.662  225.238336
3182  1667.750  104.394786  29.196  2.272  138.694  4.266  4.531  225.355662
3183  1667.875  103.615636  28.285  2.268  138.622  4.158  4.402  224.761265
3184  1668.000  104.755236  26.881  2.269  138.885  4.088  4.329  222.796288

[3185 rows x 8 columns]

In [15]:
X_new = AB_new.loc[:,input_vectors]

In [16]:
minX_new = np.min(X_new)
maxX_new = np.max(X_new)

In [17]:
print(minX_new,maxX_new)

1.837 306.655